version: '3.9'
name: docker-node-playground
services:
  postgres:
    image: postgres
    restart: always
    ports:
      - '${POSTGRES_PORT}:${POSTGRES_PORT}'
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  postgres-adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - postgres
  web:
    restart: on-failure
    build: .
    expose:
      - '3000'
  nginx:
    build: ./nginx
    ports:
      - '80:80'
    depends_on:
      - web
volumes:
  data: {}
